@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'android';
  src: url('../fonte/idroid.otf') format('opentype');
  font-weight: normal;
}

/* dessa forma se usando variáveis em css, fica mais fácil mudar as paletas de cores futuramente, fica mais prático, fácil e rápido. */

:root {
   --cor0: #ebe5c5; /*variável*/
   --cor01: #83e1ad;
   --cor03: #3ddc84;
   --cor04: #2fa866;
   --cor05: #1a5c37;
   --cor06: #063d1e;

   --font-padrao: Arial, Verdana, Helvetica, sans-serif;
   --font-destaque: 'Bebas Neue', cursive;
   --font-android: 'Android', cursive;
}

* {
  margin: 0;
  padding: 0;
}

/* Corpo */
body {
  background-color: var(--cor0);
  font-family: var(--font-padrao);
}

a.externo::after {
  content: '\1F517';
}

/* Cabeçalho */
header {
 background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
  
}

header > h1 {
  color: white;
  font-family: var(--font-destaque);
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 0px #00000052;
}

header > p {
  color: white;
  font-family: var(--font-padrao);
  font-size: 1.2em;
  max-width: 600px;
  margin: auto;
  padding: 0px 10px 0px 10px;
  text-shadow: 2px 2px 0px #00000065;
}

/* Navbar */
nav {
   background-color: var(--cor05);
   padding: 10px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: .5s;
}

nav > a:hover {
  background-color: var(--cor03);
  color: var(--cor05);

}

/* Conteúdo principal */
main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #0000005f;
  border-radius: 0px 0px 10px 10px;
}

main h1 {
  color: var(--cor05);
  font-family: var(--font-android);
}

main h2 {
  font-family: var(--font-android);
  color: var(--cor04);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor01), transparent);
  text-indent: 8px;
}

main p {
   margin: 15px 0px;
   text-align: justify;
   text-indent: 30px;
   line-height: 2em;
}

main strong {
  color: var(--cor04);
  font-weight: bolder;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor05);
  background-color: var(--cor01);
  pad: 2px 6px;
}

main a:hover {
  text-decoration: underline;
  color: var(--cor04);
}

main img {
  width: 100%;
}
 /* usar essas medidas quando quiser deixar as imagens responsivas min-width: 10%
 max-width: 100px */

 main img.pequena {
  max-width: 350px;
  margin: auto;
  display: block;
 }

 div.video {
   background-color: var(--cor05);
   position: relative;
   margin: 0px -20px 30px -20px;
   padding: 20px;
   padding-bottom: 57%
   
 }

 div.video > iframe {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
 }

 aside {
  background-color: var(--cor01);
  padding: 10px;
  border-radius: 10px;
  box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.280);
 }

 aside > h3 {
   background-color: var(--cor04);
   color: white;
   padding: 10px;
   margin: -10px -10px 0px -10px;
   border-radius: 10px 10px 0px 0px;
 }

 aside > ul {
   list-style-position: inside;
   columns: 2;
   list-style-type: '\1F5F8\00A0\00A0';
 }

 footer {
  background-color: var(--cor05);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
 }

 footer a {
   color: white;
   font-weight: bolder;
   text-decoration: none;
 }

 footer a:hover {
  text-decoration:  underline;
  color: var(--cor01);
 }

