* {
  height: 100%;
}

main {
  height: auto;
  background-color: rgba(255, 255, 255, 0.634);
  margin: auto; /*deixa centralizado a caixinha de texto*/
  padding: 20px; /*espaço lateral dentro da caixa*/
  border-radius: 10px; /*deixa as bordas da caixa de testo arredondadas*/
  width: 600px; /*ajusta o tamanho da caixa de texto*/
  box-shadow: 2px 1px 20px #401612;

}

h1 {
  color: #401612;
  text-align: center;
  text-shadow: 0px 1px 5px #BF7C41 ;
}

h2 {
  color: #BF7C41;
}

p {
 text-align: justify;
}

body {
  background-image: linear-gradient(to top, #BF785E, #F2C8A2);
  background-attachment: fixed;
}
 /*muda a barra de rolagem, ainda não ensinado*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BF7C41; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #401612; 
}