@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: lightgray;
  min-height: 20vh;
}

header > h1 {
  padding-top: 10%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

menu > ul {
  list-style-type: none;
  background-color: gray;
  margin-top: 10%;
}

menu li {
  background-color: rgb(74, 74, 74);
  display: inline-block;
  padding: 10px;
  color: white;
  
}

menu li:hover {
  color: black;
}
